# Node dependencies
node_modules/

# Build outputs
dist/
build/

# Env files
.env
.env.local

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log
yarn-error.log

# Vite cache
.vite/

# Misc
coverage/
.cache/
